version: "{build}"

os:
    - Visual Studio 2015

# Win32 and x64 are CMake-compatable solution platform names
# This allows us to pass %PLATFORM% to cmake -A
platform:
    - Win32
    - x64

# build configurations, i.e. Debug, Release, etc.
configuration:
    - Debug
    - Release

# cmake will autodetect the compiler, but we set the arch
before_build:
    - mkdir build
    - cd build
    - cmake .. -A%PLATFORM%
    - dir

# build with MSBuild
build:
    project: ALL_BUILD.vcxproj
    parallel: true
    verbosity: normal

test_script:
    - ctest -C %CONFIGURATION% --output-on-failure
