version: "{build}"

os:
    - Visual Studio 2015
    - Visual Studio 2017

# Win32 and x64 are CMake-compatable solution platform names
# This allows us to pass %PLATFORM% to cmake -A
platform:
    - Win32
    - x64

# build configurations, i.e. Debug, Release, etc.
configuration:
    - Debug
    - Release

# cmake will autodetect the compiler, but we set the arch
before_build:
    - mkdir build
    - cd build
    - cmake .. -A%PLATFORM%

# build with MSBuild
build:
    project: build/ALL_BUILD.vcxproj
    parallel: true
    verbosity: normal

test_script:
    - ctest -C %CONFIGURATION% --output-on-failure

after_test:
    - cmake --build . --target install
    - make clean
    - cmake -A%PLATFORM% -DSQLITEXX_TEST_INSTALL=1 ..
    - cmake --build .
    - ctest -C %CONFIGURATION% --output-on-failure

matrix:
    fast_finish: true
